
#mesActivites{
    font-family:'Open sans', sans-serif;
    color: black;
    width: 1000px;
    font-size:1em;
    margin: 0 auto;
    display: block;
    border:5px solid black;
    background-image:linear-gradient(to right, rgba(255,255,255, 0.9), rgb(122, 171, 228));
}

.mesActivites
{
    display: block;
    margin: auto;
}

header{
    height: 100px;
    border-bottom: 2px solid #191919;
    color:#151515   ;
    
}

header h1{
    font-size: 3em;
    padding: 0px 0px 0px 100px;
    padding-top: 20px; 
    padding-left:290px;
}



nav{

    display: block;
    font-size: 1.3em ;
    width: auto;
    margin:auto;
    padding: 10px;
    height: 40px;  
}


nav ul{
    list-style-type: none;
    padding: 0px;
    margin: auto;
    display: block;
    width: 950px;
}

nav ul li{
    padding: 0px;
    margin: 0px;
    display: block;
    float: left;

}

nav ul li a {
    background-color: steelblue ;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    display: block;
    width: 150px;
    float: left;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(70, 131, 180, 0.753) ;
    color:rgba(255, 255, 255, 0.877);
}

section{
    width: auto;
    display: block;
    margin:auto;
    width: 700px;
}

article{
    text-justify: auto;
    background-position: center;

}

article h1, h2{
    color: rgb (89,114,60);
    font-size: 1.3em;
    font-family: sans-serif, italique;
    border-bottom: 1px solid rgb (119,167,36);
}


body{
  
    background-image: url('Images/code.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: block;
}


section img 
{
    max-width: 600px;
    margin: auto;
    display: block;
}

section embed
{
    display: block;
    margin: 10px auto;
    width: 700px;
    height: 500px;
}

section iframe
{
    display: block; 
    margin: auto;
    width: 700px;
    border: 0px;
    height: 500px;
}

.footer{
    border-top:2px;
    
    margin: 5px;
    margin-bottom:30px;
    height: 100px;
    display: flex;
    color: white;
} 

.footer .contact-us
{
    flex: 200px;
    background-color: rgb(28, 111, 206);
    text-align: center;
}

.footer .contact-us span
{
    margin-bottom: 20px;
}

.footer .follow-us
{
    flex: 200px;
    background-color:  rgb(22, 22, 22);
    text-align: center;
}

.footer .follow-us ul
{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.footer .follow-us ul li
{
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
    
}
.footer .follow-us ul li a
{
    color:  rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 7px;
    background-color: #000000;
    text-align: center;
    height: 45px;
    width: 45px;
}


footer p{
    display: block;
    width: auto;
    padding: 15px;
    text-align: center;
}