
Conversation ouverte. 1 message non lu.

Aller au contenu
Utiliser Gmail avec un lecteur d'écran
Activez les notifications de bureau pour Gmail.
   OK  Non, merci

2 sur 196
Fwd: Delivery Status Notification (Failure)
Boîte de réception
x

Romain Roucou
Pièces jointes 
09:18 (il y a 1 heure)
À moi

   
Traduire le message
Désactiver pour : anglais


---------- Forwarded message ---------
De : Mail Delivery Subsystem <mailer-daemon@googlemail.com>
Date: mer. 5 juin 2019 à 16:36
Subject: Delivery Status Notification (Failure)
To: <roucouromain@gmail.com>


Icône Erreur
Adresse introuvable
Votre message n'est pas parvenu à t.taibi59@gmail.com, car l'adresse est introuvable ou ne peut pas recevoir de messages.
EN SAVOIR PLUS
La réponse était :
550 5.1.1 The email account that you tried to reach does not exist. Please try double-checking the recipient's email address for typos or unnecessary spaces. Learn more at https://support.google.com/mail/?p=NoSuchUser b199sor10872476wme.28 - gsmtp




---------- Forwarded message ----------
From: Romain Roucou <roucouromain@gmail.com>
To: t.taibi59@gmail.com
Cc: 
Bcc: 
Date: Wed, 5 Jun 2019 16:36:02 +0200
Subject: css
GG mec !
Zone contenant les pièces jointes

#mesActivites{
    font-family: sans-serif, Arial;
    color: black;
    width: 1000px;
    font-size: 0.8em;
    margin: 0 auto;
    display: block;
    border:5px solid black;
    background-color: white;
}

.mesActivites h1 {
    border-bottom: 2px solid  #FF4C26;
    color:#CE1C4C  ;
}


.mesActivites
{
    display: block;
    margin: auto;
}

header{
    height: 100px;
    border-bottom: 2px solid  #FF4C26;
    color:#CE1C4C  ;
    
}

footer{
    border-top:2px;
    border-top:  2px solid  #FF4C26 ;
    margin: 5px;
    margin-bottom:30px;
    height: 100px;
}

header h1{
    color: rgb (119,167,36);
    font-size: 3em;
    padding: 0px 0px 0px 100px;
    padding-top: 20px; 
    padding-left:290px;
}



nav{

    display: inline-block;
    font-size: 1.3em ;
    width: 250px;
    vertical-align: top;
    
}

nav ul li{
    background-color: #FF4C26 ;
    color:#CE1C4C;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

nav ul li a {
    text-decoration: none;
  
}

section{
    width: 700px;
    position:left;
    display: inline-block;
}

article{
    padding: 20px;
    margin-left:5px;
    margin-right: 5px;
    text-justify: auto;
    background-position: center;
    padding-left: 50px;

}

article h1 h2{
    color: rgb (89,114,60);
    font-size: 1.3em;
    font-family: sans-serif, italique;
    border-bottom: 1px solid rgb (119,167,36);
}

nav ul{
    list-style-type: none;
    padding: 0px;
}

body{
    background-color: #FFB6A5 ;
    
}

.java{
    margin-left: 100px;
}

.demo{
    width: 500px;
    margin-left: 100px;
}

.arbo{
    margin-left: 250px;
}
.accueil{
    width: 650px;
    margin-left: 30px;
    
}

.CssPageAccueil{
    width: 400px;
    margin-left: 180px;
}

.CssPageAccueil2{
    width: 400px;
    margin-left: 180px;
}

.CssPageAccueil3{
    width: 400px;
    margin-left: 180px;
}

.CssMesActivites{
    width: 400px;
    margin-left: 180px;
}


.CssMesActivites2{
    width: 400px;
    margin-left: 180px;
}

.AperuJs1{
    width: 700px; 
    border: 2px solid #9F2BCA;
}

.AperuJs2{
    width: 700px;  
    border: 2px solid #9F2BCA;
}

.Maquette{
    width: 700px;   
}

.PageSemaines{
    margin-left: 250px;
    
}

.repertoire{
    width: 700px;  
}

.adresseClone{
    width: 400px;  
    margin-left: 150px;
}


.adresseAcoller{
    width: 
mesActivites.css
Affichage de mesActivites.css en cours...